<div class="userPage">

  <div class="homeHeader">
    <div class="headerDarken">
      <h2>SUMMER OF <span class="thisInHeader">This.</span></h2>
      <div class="thisAsideHeader"><h4>WOMEN'S SWIMWEAR</h4></div>
      <div class="thisAsideHeader"><h4>MEN'S SWIMWEAR</h4></div>
    </div>
  </div>
  <div class="homeThumb">
    <div class="homeThumbImg One">
      <div class="thumbOne">SUMMER CATALOG ONE</div>
    </div>
    <div class="homeThumbImg Two">
      <div class="thumbOne">SUMMER CATALOG TWO</div>
    </div>
    <div class="homeThumbImg Three">
      <div class="thumbOne">SUMMER CATALOG THREE</div>
    </div>
  </div>
  <div>
    <div class="discoverDividerBlank"></div>
    <div class="discoverDivider"><h4>Discover Yourself This. Summer</h4></div>
    <div class="discoverDividerBlank"></div>
  </div>
    <div class="discoverImageOne"><div class="shopTheLook"><h5>SHOP THE LOOK</h5></div></div>
    <div class="discoverImageTwo"><div class="shopTheLook"><h5>SHOP THE LOOK</h5></div></div>
    <div class="discoverImageThree"><div class="shopTheLook"><h5>SHOP THE LOOK</h5></div></div>
    <div class="discoverImageFour"><div class="shopTheLook"><h5>SHOP THE LOOK</h5></div></div>



</div>
