<div class="shoppingCart">
  <%= render "shoppingCart" %>
</div>
<div class="checkOutContainer">
  Check Out Container
  <h2>Total</h2>
  <p>Sub-total</p>
  <p>shipping</p>
  <button>CHECKOUT</button>
  <p>we accept:</p>

</div>
