<div class="wishListButton wl-item-<%= item.id %>">
  <% if @current_user.present? %>
    <% if @wishlist.items.include?(item) %>
      <%= link_to(raw('<i class="fa fa-heart" aria-hidden="true"></i>'), add_to_wishlist_path(item, type: "unwish"), :method => 'POST', :remote => true) %>
    <% else %>
      <%= link_to(raw('<i class="fa fa-heart-o" aria-hidden="true"></i>'), add_to_wishlist_path(item, type: "wish"), :method => 'POST', :remote => true) %>
    <% end %>
  <% end %>
</div>
