<h1>Items Catalog</h1>

<div class="categorySearchContainer">
  Search By Category.
</div>

<div class="imageIndexContainer">
  <ul class="imageIndex">
    <% @items.each do |i| %>
      <li>
        <%= link_to (image_tag i.image), item_path(i), :alt => 'i.name', :class => 'imageIndexThumb' %>
        <p>
          <%= link_to i.name, item_path(i) %>
        </p>
      </li>
    <% end %>
  </ul>
</div>
