* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /*border: 1px solid green;*/
}

/*/// NAVBAR ///*/

nav {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
  background: white;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  color: gray;
}

.navbar {
  height: 50px;
  width: 960px;
  margin: 0 auto;
}

.navleft {
  display: inline-block;
  position: relative;
  width: 500px;
  line-height: 50px;
}

.navright {
  display: inline-block;
  position: relative;
  /*width: 200px;*/
  float: right;
  line-height: 50px;
  text-align: right;
}

.logoutButton {
  border: 1px solid lightblue;
  padding: 5px;
  border-radius: 3px;
  color: lightblue;
  transition: all .2s ease;
}

.logoutButton:hover {
  color: white;
  background-color: lightblue;
}

.signInOutButton {
  border: 1px solid lightblue;
  padding: 5px;
  border-radius: 3px;
  color: lightblue;
  transition: all .2s ease;
}

.signInOutButton:hover {
  color: white;
  background-color: lightblue;
}



/*/// BODY ///*/



body {
  background: rgba(0, 0, 0, 0.05);
}
.container {
  width: 960px;
  margin: 0 auto;
  padding-top: 10px;
}



/*/// USER PAGE ///*/



.signInUpForm {
  border: 1px solid lightblue;
  border-radius: 3px;
  display: inline-block;
  height: 30px;
  width: 200px;
  font-size: 16px;
  padding: 5px;
  margin: 10px 0;
}

.signInUpFormButton {
  height: 40px;
  width: 212px;
  padding: 5px;
  border: 1px solid lightblue;
  border-radius: 3px;
  background-color: #337ab7;
  font-size: 16px;
  color: white;
  margin: 10px 0;
  transition: all .3s ease;
}

.signInUpFormButton:hover {
  cursor: pointer;
  background: white;
  color: lightblue;
}

.signInUpContainer {
  margin-top: 10px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 500px;
  background: white;
  border: 1px solid lightblue;
  border-radius: 4px;
}
