* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /*border: 1px solid green;*/
}

/*/// NAVBAR ///*/

nav {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
  background: #222222;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  height: 45px;
  display: inline-block;
  padding: 0 5px;
  border-bottom: 5px solid rgba(0, 0, 0, 0);;
  transition: all .3s ease;
}

.navleft a:hover {
  border-bottom: 5px solid white;
  height: 42px;
}

.navbar {
  height: 50px;
  width: 960px;
  margin: 0 auto;
}

.navleft {
  display: inline-block;
  position: relative;
  width: 500px;
  line-height: 50px;
}

.navLogo {
  display: inline-block;
  position: relative;
  color: white;
  font-size: 18px;
}

.navright {
  display: inline-block;
  position: relative;
  /*width: 200px;*/
  float: right;
  line-height: 50px;
  text-align: right;
}

.logoutButton {
  border: 1px solid lightblue;
  padding: 5px;
  height: 25px;
  margin-top: 5px;
  line-height: 25px;
  display: inline-block;
  border-radius: 3px;
  color: lightblue;
  transition: all .2s ease;
}

.logoutButton:hover {
  color: white;
  background-color: lightblue;
  border: 1px solid white;
}

.signInOutButton {
  border: 1px solid lightblue;
  padding: 5px;
  height: 25px;
  margin-top: 5px;
  line-height: 25px;
  display: inline-block;
  border-radius: 3px;
  color: lightblue;
  transition: all .2s ease;
}

.signInOutButton:hover {
  color: white;
  background-color: lightblue;
}



/*/// BODY ///*/



body {
  /*background: rgba(0, 0, 0, 0.05);*/
}

.container {
  width: 960px;
  margin: 0 auto;
  padding-top: 10px;
  /*background-color: white;*/
}



/*/// USER PAGE ///*/



.signInUpForm {
  border: 1px solid lightblue;
  border-radius: 3px;
  display: inline-block;
  height: 30px;
  width: 200px;
  font-size: 16px;
  padding: 5px;
  margin: 10px 0;
}

.signInUpFormButton {
  height: 40px;
  width: 212px;
  padding: 5px;
  line-height: 25px;
  border: 1px solid lightblue;
  border-radius: 3px;
  background-color: #337ab7;
  font-size: 16px;
  color: white;
  margin: 10px 0;
  transition: all .3s ease;
}

.signInUpFormButton:hover {
  cursor: pointer;
  background: white;
  color: lightblue;
}

.signInUpContainer {
  margin-top: 10px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 500px;
  background: white;
  border: 1px solid lightblue;
  border-radius: 4px;
}

/* User Index */

.userPage {
  /*background: white;*/
  /*border: 1px solid gray;*/
  /*padding: 10px;*/
  border-radius: 5px;
}

.userPage h1 {
  margin-bottom: 10px;
  color: #222;
}

.userPage a {
  text-decoration: none;
  color: lightblue;
  display: inline-block;
  line-height: 200px;
  font-size: 20px;
  border: 1px solid lightblue;
  border-radius: 4px;
  height: 200px;
  width: 200px;
  margin: 17px;
  text-align: center;
}

.userPage a:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.userPage li {
  list-style: none;
  display: inline-block;
}

/*/// ITEMS PAGE ///*/

.categorySearchContainer {
  width: 150px;
  height: 500px;
  border: 1px solid lightgray;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}

.imageIndexContainer {
  width: 800px;
  /*border: 1px solid lightgray;*/
  display: inline-block;
  vertical-align: top;
  border-radius: 2px;
}

.imageIndex {
  list-style: none;
}

.imageIndex a {
  text-decoration: none;
  color: gray;
}

.imageIndex li {
  display: inline-block;
  margin: 5px;
}

.imageIndexThumb img {
  height: 250px;
  width: 250px;
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.imageIndex .addToCartButton, .addToCartButton {
  text-decoration: none;
  color: white;
  display: inline-block;
  border: 1px solid white;
  padding: 3px;
  border-radius: 3px;
  background-color: lightblue;
  transition: all .3s ease;
}

.imageIndex .addToCartButton:hover, .addToCartButton:hover {
  color: lightblue;
  background-color: white;
  border: 1px solid lightblue;
}

.itemInfoContainer {
  width: 260px;
  display: inline-block;
  position: relative;
  height: 316px;
  vertical-align: top;
  margin-bottom: 10px;
}


/*/// CART ///*/

.lineItemRow {
  display: inline-block;
  width: 100%;
}
