@import "font-awesome-sprockets";
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /*border: 1px solid green;*/
}

/*/// NAVBAR ///*/

nav {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
  background: #3c3c3c;
  z-index: -5;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  height: 45px;
  display: inline-block;
  padding: 0 5px;
  border-bottom: 5px solid rgba(0, 0, 0, 0);;
  transition: all .3s ease;
}

.navleft a:hover {
  border-bottom: 5px solid white;
  height: 42px;
}

.navbar {
  height: 50px;
  width: 960px;
  margin: 0 auto;
}

.navleft {
  display: inline-block;
  position: relative;
  width: 450px;
  line-height: 50px;
}

.navLogo {
  display: inline-block;
  position: relative;
  color: white;
  font-size: 18px;
}

.navright {
  display: inline-block;
  position: relative;
  /*width: 200px;*/
  float: right;
  line-height: 50px;
  text-align: right;
}

.logoutButton {
  border: 1px solid #626E60;
  padding: 5px;
  height: 19px;
  vertical-align: top;
  margin-top: 7px;
  line-height: 21px;
  display: inline-block;
  border-radius: 3px;
  color: white;
  background: #626E60;
  font-size: 15px;
  transition: all .2s ease;
}

.logoutButton:hover {
  border: 1px solid white;
}

.signInOutButton {
  border: 1px solid #626E60;
  padding: 5px;
  height: 19px;
  vertical-align: top;
  margin-top: 7px;
  line-height: 21px;
  display: inline-block;
  border-radius: 3px;
  background-color: #626E60;
  color: white;
  transition: all .2s ease;
}

.signInOutButton:hover {
  border: 1px solid white;
}

.search-box {
  display: inline-block;
  vertical-align: top;
}

.searchText {
  height: 30px;
  border: 1px solid white;
  background-color: #3c3c3c;
  font-size: 14px;
  color: white;
  padding-left: 10px;
  vertical-align: top;
  margin-top: 7px;
}

.searchSubmit {
  height: 32px;
  width: 55px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0);;
  font-size: 14px;
  color: white;
  margin: 7px 10px 0 -5px ;
  padding: 0 3px;
  line-height: 20px;
  vertical-align: top;
}

.searchIcon {
  transform: rotate(-45deg);
  position: relative;
  display: inline-block;
  color: white;
  background: rgba(0, 0, 0, 0);
  left: -48px;
  top: -2px;
  font-weight: 600;
  font-size: 19px;
  border: none;
}

.searchIcon:focus {
  outline: none;
}

/*/// FRONT PAGE ///*/

h3#front-page {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/*/// CART NAV ///*/

.itemsInCart {
  font-size: 14px;
  display: inline-block;
  position: relative;
  border-left: 1px solid gray;
  padding: 3px;
  text-decoration: none;
  float: right;
  color: gray;
}

.itemsInCart:hover {
  color: #945D60;
}

.itemsInCartCont {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 20px;
  padding: 4px 0;
  border-bottom: 1px solid gray;
  vertical-align: top;
}



/*/// BODY ///*/



body {
  /*background: rgba(0, 0, 0, 0.05);*/
}

.container {
  width: 960px;
  margin: 0 auto;
  /*padding-top: 10px;*/
  /*background-color: white;*/
}



/*/// USER PAGE ///*/



.signInUpForm {
  border: 1px solid lightblue;
  border-radius: 3px;
  display: inline-block;
  height: 30px;
  width: 200px;
  font-size: 16px;
  padding: 5px;
  margin: 10px 0;
}

.signInUpFormButton {
  height: 40px;
  width: 212px;
  padding: 5px;
  line-height: 25px;
  border: 1px solid #626E60;
  border-radius: 3px;
  background-color: #626E60;
  font-size: 16px;
  color: white;
  margin: 10px 0;
  transition: all .3s ease;
}

.signInUpFormButton:hover {
  cursor: pointer;
  border: 1px solid black;
}

.signInUpContainer {
  position: relative;
  text-align: center;
  margin: 10px auto;
  width: 500px;
  background: white;
  border: 1px solid #626E60;
  border-radius: 4px;
}

/* User Index */

.userPage {
  /*background: white;*/
  /*border: 1px solid gray;*/
  /*padding: 10px;*/
  border-radius: 5px;
}

.userPage h1 {
  margin-bottom: 10px;
  color: #222;
}

.userPage a {
  text-decoration: none;
  color: lightblue;
  display: inline-block;
  line-height: 200px;
  font-size: 20px;
  border: 1px solid lightblue;
  border-radius: 4px;
  height: 200px;
  width: 200px;
  margin: 17px;
  text-align: center;
}

.userPage a:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.userPage li {
  list-style: none;
  display: inline-block;
}



/*/// ITEMS PAGE ///*/



.categorySearchContainer {
  padding: 5px;
  width: 140px;
  height: 500px;
  border: 1px solid lightgray;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}

.categorySearchContainer ul {
  list-style: none;
}

.categorySearchContainer a {
  text-decoration: none;
  color: gray;
  line-height: 1.5em;
}

.imageIndexContainer {
  width: 800px;
  /*border: 1px solid lightgray;*/
  display: inline-block;
  vertical-align: top;
  border-radius: 2px;
}

.imageIndex {
  list-style: none;
}

.imageIndex a {
  text-decoration: none;
  color: gray;
}

.imageIndex li {
  display: inline-block;
  margin: 5px;
}

.imageIndexThumb img {
  height: 250px;
  width: 250px;
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.imageIndex .addToCartButton, .addToCartButton {
  text-decoration: none;
  color: white;
  display: inline-block;
  border: 1px solid white;
  padding: 3px;
  border-radius: 3px;
  background-color: #945D60;
  transition: all .3s ease;
}

.imageIndex .addToCartButton:hover, .addToCartButton:hover {
  color: lightblue;
  background-color: white;
  border: 1px solid lightblue;
}

.itemInfoContainer {
  width: 260px;
  display: inline-block;
  position: relative;
  height: 316px;
  vertical-align: top;
  margin-bottom: 10px;
}

.indexItemPrice {
  display: inline-block;
}

.indexCartButton {
  display: inline-block;
  position: relative;
  margin-left: 136px;
}


/*/// CART ///*/

.shoppingCart {
  width: 600px;
  /*border: 1px solid gray;*/
  display: inline-block;
  position: relative;
}

.lineItemRow {
  display: inline-block;
  width: 100%;
}

.well {
  border: 1px solid lightgray;
  display: block;
  width: 550px;
  padding: 20px;
  margin-bottom: 10px;
}

.well img {
  height: 125px;
  width: 125px;
  display: inline-block;
  position: relative;
}

.cartLiImage {
  height: 130px;
  width: 130px;
  display: inline-block;
}

.cartLiContent {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 390px;
  line-height: 2em;
}

.cartLiDelete {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-size: 25px;
}

.cartLiDelete a {
  text-decoration: none;
  color: black;
}

.liNumField {
  width: 25px;
  padding: 3px 0 3px 5px;
  border: 1px solid lightgray;
  vertical-align: middle;
}

.liSubmitButton {
  border: 1px solid lightgray;
  background-color: white;
  padding: 3px;
  vertical-align: middle;
}

.checkOutContainer {
  width: 310px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  border: 1px solid lightgray;
  height: 280px;
  padding: 20px;
  background: white;
}

.checkOutTotal {
  height:40px;
  line-height: 40px;
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.checkOutSub {
  height:80px;
  padding-top: 10px;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  border-bottom: 1px solid gray;
  line-height: 2em;
  font-weight: 600;
}

.checkOutButton {
  margin: 10px 0;
}

.checkOutButton button {
  width: 310px;
}

.checkOutAccept {
  margin-top: 20px;
}

.checkOutAccept h5 {
  letter-spacing: 1.2px;
  font-size: 11px;
}

.payment-options-image {
  transform: scale(.5);
  position: absolute;
  left: -75px;
}

/*#payment-form {
  width:200px;
  display: inline-block;
  border: 1px solid black;
}*/





/*/// PROCESSING ///*/




.processingContainer {
  border: 1px solid black;
  width: 550px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}

.processingContainer .row {
  line-height: 2em;
}
.processingContainer .rowUnder {
  border-bottom: 1px solid lightgray;
  padding: 20px 0;


}

.processCN {
  width: 173px;
  height: 30px;
  margin-top: 20px;
  padding-left: 30px;
  font-size: 14px;
  position: relative;
  left: -22px;
}

.fa {
  position: relative;
  z-index: 5;
}

.fa-credit-card {
  left: 8px;
}

.fa-calendar-o {
  left: 9px;
}

.fa-lock {
  position: relative;
  left: -100px;
  top: 2px;
}

.expSpacer {
  position: relative;
  display: inline-block;
  z-index: 5;
  left: 45px;
  top: 2px;
  color: gray;
}

.processEXPm {
  height: 30px;
  width: 50px;
  text-align: center;
  margin-right: -5px;
  position: relative;
  left: -24px;
  padding-left: 15px;
  font-size: 13px;
  border-left: 1px solid lightgray;
  border-right: none;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.processEXPy {
  height: 30px;
  width: 30px;
  text-align: center;
  margin-right: -5px;
  position: relative;
  left: -24px;
  font-size: 13px;
  padding-right: 5px;
  border-right: none;
  border-left: none;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.processCVC {
  height: 28px;
  width: 103px;
  text-align: center;
  margin-left: -24px;
  font-size: 13px;
}

.orderSummary {
  border: 1px solid black;
  display: inline-block;
  width: 355px;
  vertical-align: top;
  padding: 10px;
  margin-left: 5px;
}

.cartBuyButton {
  width: 207px;
  height: 30px;
  margin-top: 5px;
  position: relative;
  font-size: 14px;
  background: #945D60;
  color: white;
  border: none;
}

.orderSummaryContent {
  border: 1px solid black;
}

.orderSummaryContent img {
  height: 100px;
  width: 100px;
}
