<h1>Line Item</h1>

<p>Show line item information for particular line item</p>

<p>Name: <%= @line_item.item.name %></p>

<p>Price: <%= number_to_currency(@line_item.item.price) %></p>

<p>Quantity: <%= @line_item.quantity %></p>

<p>Sub-total: <%= number_to_currency(LineItem.total_per_item(@line_item.item.price, @line_item.quantity)) %> </p>
