<% if @current_user.present? %>
  <div class='itemsInCartCont'>
    <% total_quantity = 0 %>
    <% @cart.line_items.each do |l| %>
      <% total_quantity += l.quantity %>
    <% end %>
    <%= link_to "#{total_quantity unless @cart.nil?} Items in Cart ( #{number_to_currency(Cart.total(@cart.line_items)) unless @cart.nil?} )", carts_path, :class => 'itemsInCart' %>
  </div>
<% end %>
